<!DOCTYPE html>
<html>
  <head>
    <title>CatRing SiGIGIH</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <div class="container">
          <a href="/" class="navbar-brand">CAT:ring</a>
          <form class="d-flex">
            <a href="/login" class="btn btn-dark">Admin</a>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
